*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
button{
    padding: 10px 20px;
    background-color: #28517c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}